<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <section name="users" type="Console.ConfigSerializerSectionHandler, Console" />
    </configSections>

    <!--基础设置-->
    <appSettings>
        <add key="Server" value="192.168.1.14" />
        <add key="Port" value="13000" />        
        <add key="To" value="CC0751CC" />
        <add key="IsRespon" value="1" />
        <add key="FilePath" value="C:\A.txt" />
    </appSettings>

    <!--帐号设置-->
  <users>
    <add name="07510110" password="510110" />
    <add name="07510111" password="510111" />
    <add name="07510112" password="510112" />
    <add name="07510113" password="510113" />
    <add name="07510114" password="510114" />
    <add name="07510115" password="510115" />
    <add name="07510116" password="510116" />
    <add name="07510117" password="510117" />
    <add name="07510118" password="510118" />
    <add name="07510109" password="510109" />
  </users>

    <!--日志设置-->
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="logs/"/>
            <param name="AppendToFile" value="true"/>
            <param name="RollingStyle" value="Date"/>
            <param name="DatePattern" value="yyyy-MM/yyyy-MM-dd.lo\g"/>
            <param name="StaticLogFileName" value="false"/>
            <layout type="log4net.Layout.PatternLayout, log4net">
                <param name="ConversionPattern" value="%d %n%m%n%n"/>
            </layout>
        </appender>
        <root>
            <priority value="Info"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
    </log4net>
    
</configuration>